<div class="panel panel-primary">
    <div class="panel-heading">
       {{title}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                Filter By:
            </div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="filtertext"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Filtered By:{{filtertext}} </h2>
            </div>
        </div>
        {{showImage}}
        {{errorMessage}}
        <div class="table-responsive" *ngIf="showTable">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-success" (click)="toggleImage()">
                                {{showImage?"Hide Image":"Show Image"}}
                            </button>
                        </th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Date</th>
                        <th>Price</th>
                        <th>Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products | productFilter:filtertext">
                        <td>
                            <img [style.width.px]="imageWidth" [src]="product.imageUrl" *ngIf="showImage"/>
                        </td>
                        <td>{{product.productName | myUpper:"upper"}}</td>
                        <td>{{product.productCode | myUpper:"lower"}}</td>
                        <td>{{product.releaseDate}}</td>
                        <td [ngStyle]="{'color':product.price<30?'red':'green'}">{{product.price | addValue | currency:"GBP"}}</td>
                        <td><star-comp [rating]="product.starRating"
                                (ratingClicked)="onDataRecive($event)">
                            </star-comp></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> 