

<div>
    <img src="/../assets/images/nsc.jpg" alt="logo" style="width:30px;height:30px;float:left;"/>
    <h1 align="center">NSC Movie Portal</h1>
    <p></p>
    <p></p>
    <movie-comp></movie-comp>
 </div>

 <div class="text-center">
    <p>
        Source code : <a href="https://github.com/ssolay/AngularTraining/tree/master/NSCMovieApp" target="_top">GitHub</a>
    </p>
    <p>
        Contact : <a href="https://www.linkedin.com/in/solayappan-solayappan-8304417/" target="_top">ReachSolay</a>
    </p>
    <p>
        Copyright©2018. Solay. All rights reserved
    </p>
</div>
