

<div>
    <img src="/../assets/images/nsc.jpg" alt="logo" style="width:30px;height:30px;float:left;"/>
    <h1 align="center" style="color:rebeccapurple;">NSC Movie Portal</h1>
    <p>
        <b>Source code : </b><a href="https://github.com/ssolay/AngularTraining/tree/master/NSCMovieApp" target="_top">GitHub</a>
        
        <b>Contact : </b><a href="https://www.linkedin.com/in/solayappan-solayappan-8304417/" target="_top">GoCaps</a>
    </p>
    <movie-comp></movie-comp>
 </div>

 <div class="text-center">
    <p>    
    Copyright©2018. GoCaps. All rights reserved
    </p>
</div>
