/* You can add global styles to this file, and also import other style files */
.header img {
    float: left;
    width: 100px;
    height: 100px;
    background: #555;
  }
  
.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
  }
  .wrap {
    width: 300px;
        position: relative;
    }
    
    .wrap img {
    float: left;
    }
    
    .wrap h1 {
    line-height: 50px;
    }
    #nav_bar {
      background-color:darkcyan;
      border-color:darkcyan;
      height: 100px;
      }
      ul li{
        color: red
    }
