<div class="container">
        <h1>Music Search</h1>
        <div class="row">
                <div class="col-xs-12">
                  <input type="search" #searchBox (keyup)="search(searchBox.value)" class="form-control input-lg well" placeholder="Type to search for artist...">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4" *ngIf="searchResults.length > 0">
                  <h3>Search Results</h3>
                  <div *ngFor="let artist of searchResults" >
                    <!--<a id="{{ artist.name}}" href="#" (click)="getAlbums(artist.artistId, artist.artistName)">{{ artist.artistName }}</a>-->
                    <!--{{artist.artists.id}}-->
                    <div *ngFor="let name of artist['artists'];let idx=index;">
                            <!--<a id="{{name.name}}" href="#" (click)="getAlbums(artist.artistId, artist.artistName)">{{ artist.artistName }}</a>-->
                            <a id="{{name.name}}"  (click)="getAlbums(name.name)">{{ name.name }}</a>
                    </div>
                    </div>
                  
                </div>
                <div class="col-xs-12" [ngClass]="{'col-sm-8': searchResults.length > 0 }">
                  <h3>{{ selectedArtist }}</h3>
                  <!-- App Album Component Goes Here -->
                </div>
              </div>
    </div>